BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 0
SortIncludes: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true 
AlignArrayOfStructures: Left

---
Language: Proto
IndentWidth: 2
ContinuationIndentWidth: 2
UseTab: Never